/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 60px 0 0;
}

body.anon .auth-only {
	display: none;
}

body.authed .noauth-only {
	display: none;
}

.placeholder {
	display: none;
}

.btn-twitter {
	background-color: #4099FF;
	color: #fff;
}

.btn-twitter:before {
	content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/public/img/twitter-32.png);
    background-size: 16px;
    position: relative;
    top: 4px;
    margin-right: 8px;
}

.btn-twitter:hover {
	color: #fff;
}

.navbar-nav>li>a.login {
	padding-top: 8px;
	padding-bottom: 0;
}

#login-btn {
	width: 200px;
	padding: 7px 5px;
}

.poll-box {
	border: 1px solid #ccc;
	margin: 10px 0;
	text-align: center;
}

.poll h2 {
	margin: 20px 0;
	font-size: 20px;
}

#delete, #share {
	float: right;
	margin-left: 10px;
}

.option, #new_option, #vote {
	margin: 6px;
}

.option {
	cursor: pointer;
}

.option:hover {
	background-color: #ddd;
}

#chart {
	max-width: 300px;
	max-height: 300px;
	margin: auto;
}